<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUrl</key>
	<string>https://qiita.com/api/v2/</string>
	<key>ApiToken</key>
	<string>818187039180032e9d0ca44c2a3056ced1d12fac</string>
</dict>
</plist>
